body {
 
  font-family: "Montserrat", sans-serif;

 background: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
  height: 100vh;   
  margin: 0;

}

a{
    color: #ffffff ;
}


.weather-app {
     background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    margin: 45px auto;
    width: 500px;
      border-radius: 16px;
  
}

.weather-app-search {
padding: 15px 20px;
 border-radius: 16px;
border:none;
  width: 80%;
font-size: 15px;
background: #DAE5F5;
cursor:pointer;
margin-bottom: 20px;
}

.weather-app-button {
    padding: 15px 20px;
 border-radius: 16px;
border-color: white;
border-style: double;
font-size: 15px;
background: #AACDFE;
cursor:pointer;
}

.weather-app-button:hover{
      transition: all 200ms ease-in-out;
  opacity: 0.9;
  background-color:white;
  border-color: #CFE5F4;
  border-style: double;
}

.weather-app-city {
    font-size: 27px;
    color:rgb(255, 255, 255);
    font-weight:bold;
    
}

.weather-app-date {
    margin:0 auto;
    font-weight: 600;
    color:rgb(223, 221, 221);
    font-size: 15px;
    margin-bottom: 15px;
}

.weather-app-description {
    margin:0 auto;
    font-weight: 600;
    color:rgb(223, 221, 221);
    font-size: 18px;
    margin-bottom: 15px;
}


.weather-app-temperature {
    text-align: center;
    font-size: 80px;
    font-weight:500;
    display: flex;
    color:white;
    justify-content: center;
}

.weather-app-number{
     font-size:110px;
}

.weather-app-icon {
     font-size:50px;
     width: 77px;
     height: 77px;
}

.weather-app-celcius {
    font-size: 40px;
    margin-top: 17px;
}

.weather-app-container{
    display: flex;
    justify-content: space-around ;
    text-align: center;
}

.weather-app-humidity {
     color:rgb(255, 255, 255);
     font-size: 17px;
     text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
.weather-app-wind {
     color:rgb(255, 255, 255);
     font-size: 17px;
     text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

footer {
text-align: center;
color:black;
font-size: 12px;
font-weight:400;
}

.server{
     text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}