body {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(
    180deg, 
    #003399 0%,   
    #0066cc 50%,   
    #33ccff 100%   );
  height: 100vh;   
  margin: 0;
}

.weather-app {
    background-color: rgb(223, 223, 223);
    margin: 45px auto;
    width: 500px;
      box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
      border-radius: 16px;
  padding: 30px;
}

.weather-app-search {
padding: 15px 20px;
 border-radius: 16px;
border:none;
  width: 80%;
font-size: 15px;
}

.weather-app-button {
    padding: 15px 20px;
 border-radius: 16px;
border:none;
font-size: 15px;
background:linear-gradient(
    180deg, 
    #003399 0%,   
    #0066cc 50%,   
    #33ccff 100%   );
    color:white;
}

