body {
 
  font-family: "Montserrat", sans-serif;

 background: linear-gradient(109.5deg, rgb(13, 11, 136) 9.4%, rgb(86, 255, 248) 78.4%);
  height: 100vh;   
  margin: 0;

}

a{
    color: #ffffff ;
}

.weather-app {
     background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    margin: 45px auto;
    width: 500px;
      border-radius: 16px;
  
}

.weather-app-search {
padding: 15px 20px;
 border-radius: 16px;
border:none;
  width: 80%;
font-size: 15px;
background: #DAE5F5;
}

.weather-app-button {
    padding: 15px 20px;
 border-radius: 16px;
border:none;
border-color: #AACDFE;
font-size: 15px;
background: #AACDFE;
}

.weather-app-city {
    font-size: 40px;
    color:rgb(255, 255, 255);
    padding-bottom: 0%;
}

.weather-app-temperature {
    text-align: center;
    font-size: 80px;
    font-weight:500;
    display: block;
    padding: 0 auto;
}