body {
 
  font-family: "Montserrat", sans-serif;

 background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
  height: 100vh;   
  margin: 0;
}

.weather-app {
    background-color: rgb(255, 255, 255);
    margin: 45px auto;
    width: 500px;
      box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
      border-radius: 16px;
  padding: 30px;
}

.weather-app-search {
padding: 15px 20px;
 border-radius: 16px;
border:none;
  width: 80%;
font-size: 15px;
background: #DAE5F5;
}

.weather-app-button {
    padding: 15px 20px;
 border-radius: 16px;
border:none;
border-color: #AACDFE;
font-size: 15px;
background: #AACDFE
}

